* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(235, 235, 250);
}
.App {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a:hover {
  text-decoration: none;
}
div.login-box {
  width: 50%;
  height: 40%;
  display: flex;
  background-color: blueviolet;
}
.login-content {
  width: 50%;
  height: 100%;
}
.left {
  background: rgb(140, 0, 255);
}
.right {
  background: red;
}
